In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [61]:
df=pd.read_csv("loan_data.csv")

In [62]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No,1
1,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes,0
2,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No,1
3,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No,1
4,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No,1

In [63]:
df.drop(columns=["person_education","person_home_ownership","loan_intent"],inplace=True)

In [64]:
df

,person_age,person_gender,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,female,71948,0,35000,16.02,0.49,3,561,No,1
1,21,female,12282,0,1000,11.14,0.08,2,504,Yes,0
2,25,female,12438,3,5500,12.87,0.44,3,635,No,1
3,23,female,79753,0,35000,15.23,0.44,2,675,No,1
4,24,male,66135,1,35000,14.27,0.53,4,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...
44995,27,male,47971,6,15000,15.66,0.31,3,645,No,1
44996,37,female,65800,17,9000,14.07,0.14,11,621,No,1
44997,33,male,56942,7,2771,10.02,0.05,10,668,No,1
44998,29,male,33164,4,12000,13.23,0.36,6,604,No,1
44999,24,male,51609,1,6665,17.05,0.13,3,628,No,1

In [65]:
df['person_gender'].value_counts()

person_gender
male      24841
female    20159
Name: count, dtype: int64

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  int64
 1   person_gender                   45000 non-null  object
 2   person_income                   45000 non-null  int64
 3   person_emp_exp                  45000 non-null  int64
 4   loan_amnt                       45000 non-null  int64
 5   loan_int_rate                   45000 non-null  float64
 6   loan_percent_income             45000 non-null  float64
 7   cb_person_cred_hist_length      45000 non-null  int64
 8   credit_score                    45000 non-null  int64
 9   previous_loan_defaults_on_file  45000 non-null  object
 10  loan_status                     45000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 3.8+ MB

In [67]:
df["person_gender"]=np.where(df["person_gender"]=="male",0,1)
# male=0 female=1

In [68]:
df

,person_age,person_gender,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,1,71948,0,35000,16.02,0.49,3,561,No,1
1,21,1,12282,0,1000,11.14,0.08,2,504,Yes,0
2,25,1,12438,3,5500,12.87,0.44,3,635,No,1
3,23,1,79753,0,35000,15.23,0.44,2,675,No,1
4,24,0,66135,1,35000,14.27,0.53,4,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...
44995,27,0,47971,6,15000,15.66,0.31,3,645,No,1
44996,37,1,65800,17,9000,14.07,0.14,11,621,No,1
44997,33,0,56942,7,2771,10.02,0.05,10,668,No,1
44998,29,0,33164,4,12000,13.23,0.36,6,604,No,1
44999,24,0,51609,1,6665,17.05,0.13,3,628,No,1

In [69]:
df['person_gender'].value_counts()

person_gender
0    24841
1    20159
Name: count, dtype: int64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  int64
 1   person_gender                   45000 non-null  int64
 2   person_income                   45000 non-null  int64
 3   person_emp_exp                  45000 non-null  int64
 4   loan_amnt                       45000 non-null  int64
 5   loan_int_rate                   45000 non-null  float64
 6   loan_percent_income             45000 non-null  float64
 7   cb_person_cred_hist_length      45000 non-null  int64
 8   credit_score                    45000 non-null  int64
 9   previous_loan_defaults_on_file  45000 non-null  object
 10  loan_status                     45000 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 3.8+ MB

In [71]:
df["previous_loan_defaults_on_file"]

0         No
1        Yes
2         No
3         No
4         No
        ...
44995     No
44996     No
44997     No
44998     No
44999     No
Name: previous_loan_defaults_on_file, Length: 45000, dtype: object

In [72]:
df["previous_loan_defaults_on_file"].value_counts()

previous_loan_defaults_on_file
Yes    22858
No     22142
Name: count, dtype: int64

In [73]:
df["previous_loan_defaults_on_file"]=np.where(df["previous_loan_defaults_on_file"]=="Yes",1,0)
# yes=1 no=0

In [74]:
df["previous_loan_defaults_on_file"].value_counts()

previous_loan_defaults_on_file
1    22858
0    22142
Name: count, dtype: int64

In [75]:
df

,person_age,person_gender,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,1,71948,0,35000,16.02,0.49,3,561,0,1
1,21,1,12282,0,1000,11.14,0.08,2,504,1,0
2,25,1,12438,3,5500,12.87,0.44,3,635,0,1
3,23,1,79753,0,35000,15.23,0.44,2,675,0,1
4,24,0,66135,1,35000,14.27,0.53,4,586,0,1
...,...,...,...,...,...,...,...,...,...,...,...
44995,27,0,47971,6,15000,15.66,0.31,3,645,0,1
44996,37,1,65800,17,9000,14.07,0.14,11,621,0,1
44997,33,0,56942,7,2771,10.02,0.05,10,668,0,1
44998,29,0,33164,4,12000,13.23,0.36,6,604,0,1
44999,24,0,51609,1,6665,17.05,0.13,3,628,0,1

In [76]:
df["loan_status"].value_counts()

loan_status
0    35000
1    10000
Name: count, dtype: int64

In [77]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [102]:
from sklearn.model_selection import train_test_split
from collections import Counter
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [103]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
logistic=LogisticRegression(max_iter=5000)
C = [0.01,0.1,1,10,100]
param_grid = [
    {'penalty': ['l2'], 'solver': ['lbfgs', 'sag', 'newton-cg', 'newton-cholesky'], 'C': C},
    {'penalty': ['l1'], 'solver': ['liblinear', 'saga'], 'C': C},
    {'penalty': ['elasticnet'], 'solver': ['saga'], 'C': C, 'l1_ratio': [0.5]},  # you need l1_ratio for elasticnet
]

In [111]:
from sklearn.model_selection import StratifiedKFold, GridSearchCV
cv=StratifiedKFold()

grid=GridSearchCV(estimator=logistic,param_grid=param_grid,scoring="accuracy",cv=cv, n_jobs=-1, verbose=1)

In [112]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 35 candidates, totalling 175 fits

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=LogisticRegression(max_iter=5000), n_jobs=-1,
             param_grid=[{'C': [0.01, 0.1, 1, 10, 100], 'penalty': ['l2'],
                          'solver': ['lbfgs', 'sag', 'newton-cg',
                                     'newton-cholesky']},
                         {'C': [0.01, 0.1, 1, 10, 100], 'penalty': ['l1'],
                          'solver': ['liblinear', 'saga']},
                         {'C': [0.01, 0.1, 1, 10, 100], 'l1_ratio': [0.5],
                          'penalty': ['elasticnet'], 'solver': ['saga']}],
             scoring='accuracy', verbose=1)

In [113]:
print("Best Parameters:", grid.best_params_)
print("Best Accuracy:", grid.best_score_)

Best Parameters: {'C': 1, 'penalty': 'l2', 'solver': 'newton-cholesky'}
Best Accuracy: 0.890031746031746

In [114]:
y_pred=grid.predict(x_test)

In [115]:
y_pred

array([0, 0, 1, ..., 0, 0, 0], shape=(13500,))

In [116]:
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report
acc=accuracy_score(y_test,y_pred)
cm=confusion_matrix(y_test,y_pred)
print(acc)
print(cm)

0.8854074074074074
[[9796  697]
 [ 850 2157]]

In [117]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.93      0.93     10493
           1       0.76      0.72      0.74      3007

    accuracy                           0.89     13500
   macro avg       0.84      0.83      0.83     13500
weighted avg       0.88      0.89      0.88     13500

In [ ]:
import pickle
pickle.dump(grid,open("grid.pkl",'wb'))
pickle.dump(scaler,open("scaler.pkl",'wb'))